@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color:#e2e2e2;
    font-family: 'Open Sans', sans-serif;;
}

.btn_voltar {
    border: 1px solid rgb(0, 0, 0);
    width: 7em;
    font-size: 18px;
    padding: 12px 10px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 15px;
    display: block;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.295);
    transition: .2s;
}

.container {
    margin: auto;
    max-width: 45em;
    height: auto;
    padding: 1em;
    background: linear-gradient(160deg, #cecece, #797979);
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 18px 0px #1b1b1b83;
}

.imagem {
    border-radius: inherit;
}

.nome {
    margin-top: .3em;
    letter-spacing: .8px;
    font-weight: 700;
}

.detalhes {
    line-height: 10px;
}

.historia {
    border: 1px solid #1b1b1b;
    border-radius: inherit;
    padding: 5px;
    max-width: 40em;
    margin: auto;
    box-shadow: 0px 0px 10px .1px #1b1b1b;

}

.posicao {
    display: inline-block;
    padding: 10px 20px;
    border: solid 1px ;
    border-radius: 20px;
    transition: 0.5s;
    margin: auto;
    margin-top: 1em;
}

.btn_voltar:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
    cursor: pointer;
}

.imagem:hover {
    transition: .5s ease;
    transform: rotate(720deg);
}

.detalhes:hover {
    font-weight: bold;
}

.historia:hover {
    transition: .25s;
    transform: scale(1.14);
}

.posicao:hover {
    background-color: #1b1b1b;
    color: white;
    border-color: #1b1b1b;
}

@media screen and (max-width: 768px) {
    .btn_voltar {
        font-size: 25px;
        background-color: #1b1b1b;
        font-weight: bold;
        color: white;
        border-radius: 24px;
        box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.295);
    }

    .btn_voltar:hover {
        background-color: #1b1b1b;
    }

    .container {
        border-radius: 30px;
    }

    .detalhes {
        font-weight: bold;
    }

    .historia:hover {
        transform: scale(1);
    }

    .posicao {
        background-color: #1b1b1b;
        color: white;
        border-color: #1b1b1b;
    }
}
