@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family:'Open Sans', sans-serif;
    background: linear-gradient(90deg, #a7a7a7, #1b1b1b);
}

input {
    border: 1px solid rgb(0, 0, 0);
    width: 18em;
    font-size: 18px;
    padding: 12px 10px;
    border-radius: 8px;
    margin: auto;
    display: block;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.295);
    transition: .2s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 80em;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 10px;
    width: 17em;
    background-color: white;
    margin: 15px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
    background: linear-gradient(160deg, #cecece, #4d4d4d);
}

.card img {
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 90%;
    transition: all ease-in-out .4s;
}

.card h3 {
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    margin: .5em;
}

.in_posicao {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border: solid 1px #1b1b1b;
    border-radius: 20px;
    transition: 0.5s;
    margin: auto;
}

input:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
}

.card:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    border: solid 1px #1b1b1b;;
    cursor: pointer;
}

.card img:hover {
    transform: scale(1.02);
}

.in_posicao:hover {
    background-color: #1b1b1b;
    color: white;
}
